<!DOCTYPE html>
<html>
<head>
	
	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title>M2K, Inc.</title>
	{% endif %}
	
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" type="text/css" href="<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://d3js.org/d3.v5.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


</head>


    <!-- <link rel="stylesheet" type="text/css" href="static/css/style.css"> -->
<body>

<!--TOP NAVIGATION BAR##########################################################-->
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="{{ url_for('index') }}">M2K, Inc.</a>
	    </div>
	   
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right">
			<li><a target="_self" href="{{ url_for('howitworks') }}">How it Works</a></li>
	      	<li><a target="_self" href="{{ url_for('analytics') }}">Analytics</a></li>
	      	<li><a target="_self" href="{{ url_for('tool') }}">Tool</a></li>
		      <li class="dropdown">
		        <a class="dropdown-toggle" data-toggle="dropdown" href=#>All Things PetFinder <span class="caret"></span></a>
		        	<ul class="dropdown-menu">
						<li><a target="_blank" href="www.petfinder.com">PetFinder.com</a></li>
		          		<li><a target="_blank" href="https://twitter.com/petfinder">Twitter</a></li>
		          		<li><a target="_blank" href="https://www.facebook.com/Petfinder/">FaceBook</a></li>
		          		<li><a target="_blank" href="https://petfinderfoundation.com/">PetFinder Foundation</a></li>
		          	</ul>
		      </li>
	      </ul>

	    </div>
	  </div>
	</nav>


<div id="content">{% block content %}{% endblock %}</div>

<!-- <script src="../static/js/templates.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>