{% extends "base.html" %}
{% block content %}
	<div class="container"> 
		<div class="col-md-12" align="left">
			<h3>A LITTLE ABOUT US</h3>
			<p>Here at M2K, we are massive animal lovers! We decided that we were going to use our time and energy in a way that would help promote pet adoption. Our primary objective is to make predictions on how long a pet will remain in the shelter before being adopted. Using this data, shelters and adoption agencies can prioritize and market those animals with lowest rating. While we love <strong>ALL</strong> animals, we focused our efforts solely on cats and dogs for the purpose of this project.</p>
			<hr>
		</div>
	</div>
	<div class="container"> 
		<div class="col-md-12" align="left">
			<h3>OUR PROCESS</h3>
			<li>Using an API to PetFinder.com, we are extracting the features and data of thousands of animals with a status of "adopted".</li>
			<li>Data is stored in a Postgres Database.</li>
			<li>Data is called from the database and fed into a Neural Network Model. The model is generating a prediction on how likely the animal will be adopted in one of these given time frames:</li>
			<ul style="list-style-type:circle;">
			  <li>Same Day Adoption</li>
			  <li>1 and 7 days (1st week)</li>
			  <li>8 and 30 days (1st month) </li>
			  <li>31 and 90 days (2nd & 3rd month)</li>
			  <li>No adoption after 100 days of being listed</li>
			</ul>
			<hr>
		</div>
	</div>
	<div class="container"> 
		<div class="col-md-12" align="left">
			<h3>THE TOOL</h3>
			<p>THE TOOL serves two purposes:</p>
			<ul>1) Builds and compiles an active database for the animals living at the shelter.</ul>
			<ul>2) Enables a search of additional animals on PetFinder's website that will return the percentage of adoptability for that animal a given date range.</ul>
			<p>Using the tool will enable shelter/agency employees to compile and store important data and features of each animal in their care. As they update the database with the adoption status and dates of adoption, this data will feed the model, therefore building a stronger, more accurate prediction tool over time. This information can be used to modify marketing strategies, coordinate fostering efforts, or predict the capacity of the shelter.</p>
			<hr>
		</div>
	</div>	
<br>
<div class="container">
    <div class="row">
      	<div class="col-md-12" align="center">
			<div class="hiw-card" style="width: 100rem;">
			  	<img src="../static/photos/workflow.png" alt="Workflow">
			</div>
		</div>
	</div>
</div>
{% endblock %}