{% extends "base.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">M2K, Inc.</h1>
    <p class="lead">Our mission is to help shelters and adoption agencies to compile their data in order to predict the probability of adoption for their animals. Those findings can be used with targeted marketing campaigns that will promote the animals with the lowest percentages. The ultimate goal is to positively influence adoption outcomes and reduce shelter life for these special needs animals.</p>
  </div>
</div>
<!--FEATURED PETS##########################################################-->
<div class="container">
    <div class="row">
      	<div class="col-md-6" align="center">
			<div class="card" style="width: 30rem;">
			  	<img class="card-img-top" src="{{ data[0].photo1_med}}" alt="Old Cross-Eyes">
			  	<div class="card-body">
				    <h5 class="card-title">ADOPT ME!</h5>
				    <p class="card-text">{{ data[0].description }}</p>
				    <a href="{{ data[0].url }}" class="btn btn-primary">Get to Know Me</a>
				</div>
			</div>
		</div>
		<div class="col-md-6" align="center">
			<div class="card" style="width: 30rem;">
			  	<img class="card-img-top" src="{{ data[1].photo1_med}}" alt="Cutie Patootie">
			  	<div class="card-body">
				    <h5 class="card-title">ADOPT ME!</h5>
				    <p class="card-text">{{ data[1].description }}</p>
				    <a href="{{ data[1].description }}" class="btn btn-primary">Get to Know Me</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--QUOTE##########################################################-->
<div class="container">
    <div class="row">
      	<div class="col-md-12" align="left">
			<div class="card">
			  <hr>
			  <div class="card-body">
			  <div class="cardQuote">
			    <blockquote class="blockquote mb-0">
			      <p>The greatness of a nation and its moral progress can be judged by the way its animals are treated.</p>
			      <footer class="blockquote-footer">Mahatma Gandhi <cite title="Source Title">GoodReads</cite></footer>
			    </blockquote>
				</div>
			  </div>
			</div>
		</div>
	</div>
</div>


{% endblock %}