{% extends "base.html" %}
{% block content %}
<!-- 	<div class="container">
	    <div class="row">
	      	<div class="col-md-12" align="left">
		        <h1> M2K, Inc.</h1>
		       	<h3> Our mission is to help shelters and adoption agencies to compile their data, predict the probability of adoption and to use those findings to promote the animals with the lowest ratings. Our ultimate goal is to positively influence adoption outcomes and reduce shelter life for these special needs animals.</h3>
		        <hr>
		        <br>
	      	</div>
	    </div> 
	</div>  -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">M2K, Inc.</h1>
    <p class="lead">Our mission is to help shelters and adoption agencies to compile their data in order to predict the probability of adoption for their animals. Those findings can be used with targeted marketing campaigns that will promote the animals with the lowest percentages. The ultimate goal is to positively influence adoption outcomes and reduce shelter life for these special needs animals.</p>
  </div>
</div>

<div class="container">
    <div class="row">
      	<div class="col-md-6" align="center">
			<div class="card" style="width: 30rem;">
			  	<img class="card-img-top" src="../static/crossed-eyes_cat.jpg" alt="Old Cross-Eyes">
			  	<div class="card-body">
				    <h5 class="card-title">ADOPT ME!</h5>
				    <p class="card-text">Meet Old Cross-Eyes. He is an adorable 6 month old cat. All he wants in this life is a lap to sit on.</p>
				    <a href="https://www.facebook.com/Petfinder/" class="btn btn-primary">Get to Know Me</a>
				</div>
			</div>
		</div>
		<div class="col-md-6" align="center">
			<div class="card" style="width: 30rem;">
			  	<img class="card-img-top" src="dog_pic.jpg" alt="Cutie Patootie">
			  	<div class="card-body">
				    <h5 class="card-title">ADOPT ME!</h5>
				    <p class="card-text">My name is Tutti and I'm even cuter in person.</p>
				    <a href="https://www.facebook.com/Petfinder/" class="btn btn-primary">Get to Know Me</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
    <div class="row">
      	<div class="col-md-12" align="left">
			<div class="card">
			  <hr>
			  <div class="card-body">
			    <blockquote class="blockquote mb-0">
			      <p>The greatness of a nation and its moral progress can be judged by the way its animals are treated.</p>
			      <footer class="blockquote-footer">Mahatma Gandhi <cite title="Source Title">GoodReads</cite></footer>
			    </blockquote>
			  </div>
			</div>
		</div>
	</div>
</div>

{% endblock %}