{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row"> 
		<div class=col-md-6>
			<h2><b>NEW PET ENTRY<b></h3>
			<hr>
			<h4>Fill out form completely. All fields are required.</h4>
			<br>
		</div>
		<div class=col-md-6>
			<h2><b>PET SEARCH<b></h3>
			<hr>
			<h4>Already have a pet on Petfinder? Search for them here.</h4>
			<br>
		</div>
	<div/>		
</div>
</div>

<!--NEW SUBMISSION##########################################################-->
<div class="container-fluid">
	<div class="row"> 
		<div class="col-md-6">
			<form id="adoptionData" method="POST" action="{{ url_for('tool') }}">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="inputEmpID">Employee ID</label>
							<input type="text" class="form-control" id="inputEmpID" name="inputEmpID" placeholder="ID #">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="inputShelter">Shelter ID</label>
							<input type="text" class="form-control" id="inputShelter" name="inputShelter" placeholder="Shelter ID">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="inputDate">Acquistion Date</label>
							<input type="Date" class="form-control" id="inputDate" name="inputDate" placeholder="Date">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					     	<label for="inputZip">Zip Code</label>
					      	<input type="Zip" class="form-control" id="inputZip" name="inputZip" placeholder="Zip Code">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
			     			<label for="color1">Gender</label>
			    			<select class="form-control" id="sex" name="sex">
			      					<option>Male</option>
			      					<option>Female</option>
			      					<option>Undetermined</option>			      		
			    			</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
			     			<label for="color1">Pet Type</label>
			    			<select class="form-control" id="petType" name="petType">
			      				<option>Dog</option>
			      				<option>Cat</option>     		
			    			</select>
			    		</div>
			    	</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
			     			<label for="petName">Pet Name</label>
			      			<input type="text" class="form-control" id="petName" name="petName" placeholder="Name">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
			     			<label for="petAge">Age (in months)</label>
			      			<input type="number" class="form-control" id="petAge" name="petAge" placeholder="Age">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
			     			<label for="breed1">Primary Breed</label>
			    			<select class="form-control" id="breed1" name="breed1" onchange="optionChanged(this.value)">
			    				{% for b in breeds %}
									<option value={{b[0].breed_id}} >{{b[1]}}</option>
								{% endfor %}
			    			</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
			     			<label for="breed2">Secondary Breed</label>
			    			<select class="form-control" id="breed2" name="breed2">
			      				{% for b in breeds %}
									<option value={{b[0].breed_id}} >{{b[1]}}</option>
								{% endfor %}
			    			</select>
			    		</div>
			    	</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
			     			<label for="color1">Color</label>
			    			<select class="form-control" id="color1" name="color1">
			      				{% for c in colors %}
									<option value={{c[0].color_code}} >{{c[1]}}</option>
								{% endfor %}
			    			</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
			     			<label for="color2">Secondary Color</label>
			    			<select class="form-control" id="color2" name="color2">
			      				{% for c in colors %}
									<option value={{c[0].color_code}} >{{c[1]}}</option>
								{% endfor %}
			    			</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
			     			<label for="furlength">Fur Length</label>
			    			<select class="form-control" id="furlength" name="furlength">
			      				<option>Short</option>
			      				<option>Medium</option>
			      				<option>Long</option>
			      				<option>Wirey</option>
			      				<option>Unknown</option>				      		
			    			</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
			     			<label for="breedsize">Breed Size</label>
		    				<select class="form-control" id="breedsize" name="breedsize">
			      				<option>Small</option>
			      				<option>Medium</option>
			      				<option>Large</option>
			      				<option>Extra Large</option>
			      				<option>Unknown</option>				      		
			    			</select>
						</div>
					</div>
				</div>
				<div class="row">			
					<div class="col-md-6">
						<div class="form-check">
				  			<p><b>Good with the following (check all that apply):<b></p>
				  			<input class="form-check-input" type="checkbox" id="goodKids" value="" name="goodKids">
				  			<label class="form-check-label" for="goodKids">Children</label>
						</div>
						<div class="form-check">
				  			<input class="form-check-input" type="checkbox" id="goodCats" value="" name="goodCats">
				  			<label class="form-check-label" for="goodCats">Cats</label>
						</div>
						<div class="form-check">
				  			<input class="form-check-input" type="checkbox" id="goodDogs" value="" name="goodDogs">
				  			<label class="form-check-label" for="goodDogs">Dogs</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-check">
				  			<p> <b>Medical Check (check all that apply):<b>	</p>
				  			<input class="form-check-input" type="checkbox" id="vaccinated" value="" name="vaccinated">
				  			<label class="form-check-label" for="vaccinated">Vaccinated</label>
						</div>
						<div class="form-check">
				  			<input class="form-check-input" type="checkbox" id="dewormed" value="" name="dewormed">
				  			<label class="form-check-label" for="dewormed">Dewormed</label>
						</div>
						<div class="form-check">
				  			<input class="form-check-input" type="checkbox" id="sterilized" value="" name="sterilized">
				  			<label class="form-check-label" for="sterilized">Neutered/Spayed</label>
						</div>				
					</div>
				</div>
				<br>
				<div class="row">			
						<div class="col-md-6">
							<div class="form-group">
				     			<label for="photoCount"># of Photos Uploaded</label>
				      			<input type="number" class="form-control" id="photoCount" name="photoCount" placeholder="# of Photos">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
				     			<label for="videoCount"># of Videos Uploaded</label>
				      			<input type="number" class="form-control" id="videoCount" name="videoCount" placeholder="# of Videos">
							</div>
						</div>	
				</div>
				<br>
				<div class="row">
					<div class= "col-md-2">
						<button type="submit" class="btn btn-success btn-block submit" id="submit">Submit</button>
					</div>
				</div>
			</form>
		</div>
		<div class="container-fluid">
			<div class="col-md-6">
				<form id="inputPetID" method="POST" action="{{ url_for('searchanimal') }}">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="inputPetID" name="inputPetID" placeholder="PetFinder ID">
							</div>
						</div>
					</div>
					<div class="row">
						<div class= "col-md-2">
							<button type="submit" class="btn btn-success btn-block submit" id="submit">Submit</button>
						</div>
					</div>
					<div class="row"> 
						<div class="col-md-12"> 
							<br>
							<small>*If you do not have your Pet ID it can be found in the url on Petfinder.com</small>
							<br>
							<small>https://www.petfinder.com/dog/alice-walker-49234283/nj/hamiltonj782/.</small>
						</div>
					</div>
				</form>
			</div>
			<!-- Pet Profile Starts here -->
			<div class='row'>
				<div class="col-md-6">
					<br>
					<h3>Pet Profile</h3>
					<div class="card" style="width: 50rem;">
				  	<img class="card-img-top" src="{{ data['photo1_med'] }}" alt="Cutie Patootie">
				  	<div class="card-body">
					    <!-- <h5 class="card-title">{{ data["name"] }}</h5> -->
					    <br>
					    <ul align="left">
					    	<p>Name: {{ data["name"] }}<p>
					    	<p>Type: {{ data["type"] }}<p>
					    	<p>Breed: {{ data["breed1"] }}<p>
					    	<p>Age: {{ data["age"] }}<p>
					    	<p>Adoptabilty Score: {{ data["adoption_speed"] }}<p>
					    </ul> 
					    <a href="{{ data['url'] }}" class="btn btn-primary">Learn More</a>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
			
{% endblock %}
