{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row"> 
		<div class=col-md-6>
			<h2>New Pet Entry</h3>
			<hr>
			<h3>Fill out form completely. All fields are required.</h3>
		</div>
		<div class=col-md-6>
			<h2>Pet Search</h3>
			<hr>
		</div>
	<div/>		
</div>
</div>

<!--NEW SUBMISSION##########################################################-->
<div class="container-fluid">
	<form id="adoptionData" method="POST" action="{{ url_for('tool') }}">
		<div class="form-row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="inputEmpID">Employee ID</label>
					<input type="text" class="form-control" id="inputEmpID" name="inputEmpID" placeholder="ID #">
					<small>Required</small>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="inputShelter">Shelter Name</label>
					<input type="text" class="form-control" id="inputShelter" name="inputShelter" placeholder="Shelter Name">
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<label for="inputPetID">Search for Pet ID:</label>
					<input type="text" class="form-control" id="inputPetID" name="inputPetID" placeholder="PetFinder ID">
				</div>
			</div>
		</div>
</div>

<div class="container-fluid">
		<div class="form-row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="inputDate">Acquistion Date</label>
					<input type="Date" class="form-control" id="inputDate" name="inputDate" placeholder="Date">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
			     	<label for="inputZip">Zip Code</label>
			      	<input type="Zip" class="form-control" id="inputZip" name="inputZip" placeholder="Zip Code">
				</div>
			</div>
			<div class="container-fluid">
			<div class= "col-md-2">
			<button type="submit" class="btn btn-success btn-block submit" id="submit">Submit</button>
			</div>
</div>
		</div>
</div>
<hr>
<div class="container-fluid">
		<div class="form-row">
			<div class="col-md-3">
				<div class="form-group">
			     	<label for="color1">Sex</label>
			    	<select class="form-control" id="sex" name="sex">
			      		<option>Male</option>
			      		<option>Female</option>
			      		<option>Undetermined</option>			      		
			    	</select>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-3">
				<div class="form-group">
			     	<label for="color1">Pet Type</label>
			    	<select class="form-control" id="petType" name="petType">
			      		<option>Dog</option>
			      		<option>Cat</option>     		
			    	</select>
				</div>
			</div>
		</div>
</div>
<div class="container-fluid">
		<div class="form-row">
			<div class="col-md-3">
				<div class="form-group">
			     	<label for="petName">Pet Name</label>
			      	<input type="text" class="form-control" id="petName" name="petName" placeholder="Name">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-3">
				<div class="form-group">
			     	<label for="petAge">Age (in months)</label>
			      	<input type="number" class="form-control" id="petAge" name="petAge" placeholder="Age">
				</div>
			</div>
		</div>
</div>
<div class="container-fluid">
		<div class="form-row">
			<div class="col-md-3">
				<div class="form-group">
			     	<label for="breed1">Primary Breed</label>
			    	<select class="form-control" id="breed" name="breed1">
			      		<option>INSERT BREED DROPDOWN</option>
			    	</select>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-3">
				<div class="form-group">
			     	<label for="breed2">Secondary Breed</label>
			    	<select class="form-control" id="breed" name="breed2">
			      		<option>INSERT BREED DROPDOWN</option>
			    	</select>
				</div>
			</div>
		</div>
</div>
<div class="container-fluid">
		<div class="form-row">
			<div class="col-md-3">
				<div class="form-group">
			     	<label for="color1">Color</label>
			    	<select class="form-control" id="color" name="color1">
			      		<option>INSERT COLOR DROPDOWN</option>
			    	</select>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-3">
				<div class="form-group">
			     	<label for="color2">Secondary Color</label>
			    	<select class="form-control" id="color" name="color2">
			      		<option>INSERT COLOR DROPDOWN</option>
			    	</select>
				</div>
			</div>
		</div>
</div><br>
<div class="container-fluid">
		<div class="form-row">
			<div class="col-md-3">
				<div class="form-group">
			     	<label for="color1">Fur Length</label>
			    	<select class="form-control" id="color" name="color1">
			      		<option>1 - Short</option>
			      		<option>2 - Medium</option>
			      		<option>3 - Long</option>
			      		<option>4 - Wirey</option>
			      		<option>0 - Unknown</option>				      		
			    	</select>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-3">
				<div class="form-group">
			     	<label for="color2">Breed Size</label>
		    		<select class="form-control" id="color" name="color1">
			      		<option>1 - Small</option>
			      		<option>2 - Medium</option>
			      		<option>3 - Large</option>
			      		<option>4 - Extra Large</option>
			      		<option>0 - Unknown</option>				      		
			    	</select>
				</div>
			</div>
		</div>
</div>
<div class="container-fluid">
		<div class="form-row">			
			<div class="col-md-3">
				<div class="form-check">
				  <p>Good with the following (check all that apply):</p>
				  <input class="form-check-input" type="checkbox" id="goodKids" value="" name="goodKids">
				  <label class="form-check-label" for="goodKids">Children</label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="checkbox" id="goodCats" value="" name="goodCats">
				  <label class="form-check-label" for="goodCats">Cats</label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="checkbox" id="goodDogs" value="" name="goodDogs">
				  <label class="form-check-label" for="goodDogs">Dogs</label>
				</div>
			</div>
		</div>
		<div class="form-row">			
			<div class="col-md-3">
				<div class="form-check">
				  <p>Medical Check (check all that apply):</p>
				  <input class="form-check-input" type="checkbox" id="vaccinated" value="" name="vaccinated">
				  <label class="form-check-label" for="vaccinated">Vaccinated</label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="checkbox" id="dewormed" value="" name="dewormed">
				  <label class="form-check-label" for="dewormed">Dewormed</label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="checkbox" id="sterilized" value="" name="sterilized">
				  <label class="form-check-label" for="sterilized">Neutered/Spayed</label>
				</div>
			</div>
		</div>
	<br>
</div>
<div class="container-fluid">
	<div class= "col-md-2">
		<button type="submit" class="btn btn-success btn-block submit" id="submit">Submit</button>
	</div>
</div>
<br>

<!-- </form> -->
{% endblock %}